# Node modules (Dependencies)
backend/node_modules/

# Environment Variables 
backend/.env

# Build & Compiled Files
backend/dist/
backend/build/
backend/.cache/
backend/.tmp/

# Uploaded Files (If storing images locally)
backend/uploads/
backend/public/uploads/


backend/node_modules/bson/lib/bson.bundle.js.map
